body {
  font-family: "Pretendard Variable";
  letter-spacing: -0.1px;
  background-color: black;
}

.layout {
  min-width: 380px;
  max-width: 390px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
}
